.vendidos-titulo {
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFF;
    padding: 1em 0 0.5em 0;
}

.descricao-vendidos {
    color: var(--laranja);
    font-size: 14px;
    background: url("../img/Estrelinhas.png");
    background-repeat: no-repeat;
    position: relative;
}

.descricao-detalhada {
    position: relative;
    top: 15%;
}